<launch>
  <rosparam command="load" file="$(find smabo)/dashboard.yaml" />
  <node pkg="rtk_tools" type="dashboard.py" required="true" name="" args="load:=smabo/dashboard.yaml" output="screen">
    <remap from="~load" to="/request/recipe_load" />
    <remap from="~loaded" to="/request/model_load" />
    <remap from="~failed" to="/response/recipe_load" />
    <remap from="~opened" to="/response/recipe_open" />
  </node>
  <node pkg="smabo" type="config_tf.py" name="config_tf">
    <remap from="reload/config_tf" to="/request/redraw" />
  </node>
</launch>
