<launch>
  <rosparam command="load" file="$(find smabo)/config/vcam.yaml" />
  <rosparam command="load" file="$(find smabo)/config/wall_eye.yaml" />
  <node pkg="smabo" type="vcam.py" name="" output="screen" />
  <node pkg="vcam3d" type="env.py" name="environment" output="screen" />
  <node pkg="vcam3d" type="hand.py" name="" />
</launch>
