<launch>
  <rosparam command="load" file="$(find smabo)/config/viewer.yaml" />
  <node pkg="rtk_tools" type="report.py" name="" output="screen">
    <remap from="/report/update" to="/request/capture" />
    <remap from="/report/complete" to="/response/solve" />
  </node>

  <node pkg="smabo" type="ycam3.py" name="" />
  <node pkg="rviz" type="rviz" name="" args="-d $(find smabo)/main.rviz" />
</launch>
